/*
	Alticator 2020
*/

html, body {margin: 0;}
body {text-align: center; color: rgb(0, 155, 155);}
* {font-family: sans-serif;}
nav {background-color: rgba(0, 0, 0, 0.8); color: white; padding: 15px; font-size: 24px;}
button, input {color: white; background-color: rgba(0, 100, 100, 0.8); margin: 0; border: none; font-size: 14px; padding: 3px; outline: none; font-size: 24px; padding: 3px;}
#results-container {padding: 20px; margin: auto; margin-top: 5vh; font-size: 24px; box-shadow: 0px 0px 30px gray; width: 80vw;}
input {width: 40vw; transition: 0.5s; margin: 3px;}
input:focus {width: 50vw; box-shadow: 5px 5px 20px gray;}
.tab {padding: 5px; margin: 10px; margin-top: 10vh; animation-name: fade-in; animation-duration: 0.5s;}
#tab-bar {background-color: rgba(0, 155, 200, 0.8); padding-top: 3px;}
.tab-button {background-color: transparent; padding: 5px; transition: 0.5s; cursor: pointer;}
.tab-selected {background-color: white; color: rgb(0, 155, 155); border-top: 3px solid orange;}
.fraction {width: 5vw; height: 10vh; box-shadow: 3px 3px 20px gray; margin: auto; margin-top: 10px;}
.fraction input {width: 5vw; height: 5vh; box-sizing: border-box; margin: 0; background-color: white; color: black; text-align: center;}
.fraction .top {border-bottom: 3px solid black;}
h2 {margin: 20px;}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}