/*
	Alticator 2020
*/

:root {
	--calculator-width: 250px;
	--calculator-button-width: calc(var(--calculator-width) / 5);
}
html, body {margin: 0;}
* {transition: 0.5s}
body {text-align: center; color: rgb(0, 165, 210); animation-name: slide-in; animation-duration: 0.5s; position: relative;}
* {font-family: sans-serif;}
nav {background-color: #404050; color: white; padding: 15px; font-size: 24px; text-shadow: 0px 0px 10px aqua; position: sticky; top: 0; height: 60px; box-sizing: border-box;}
button, input {color: white; background-color: rgb(0, 165, 210); margin: 0; border: none; padding: 3px; outline: none; font-size: 24px; padding: 3px;}
button {cursor: pointer;}
button:hover {background-color: rgb(0, 125, 180);}
#results-container {padding: 20px; margin: auto; margin-top: 5vh; margin-bottom: 5vh; font-size: 24px; box-shadow: 0px 0px 30px gray; width: 80vw;}
input {width: 40vw; transition: 0.5s; margin: 3px;}
input:focus {width: 50vw; box-shadow: 5px 5px 20px darkslategray;}
.tab {padding: 5px; margin: 10px; margin-top: 10vh; animation-name: zoom-in; animation-duration: 0.5s;}
#tab-bar {background-color: #404050; position: fixed; width: 200px; height: 100vh; box-sizing: border-box;}
.tab-button {background-color: transparent; padding: 5px; cursor: pointer; width: 100%; box-sizing: border-box;}
.tab-button:hover {background-color: transparent;}
#indicator {width: 5px; height: 38px; position: absolute; left: 0; top: 0; background-color: rgb(0, 165, 210);}
#container {margin-left: 200px;}
.fraction {width: 100px; height: 10vh; box-shadow: 3px 3px 20px gray; margin: auto; margin-top: 10px;}
.fraction input {width: 100px; height: 5vh; box-sizing: border-box; margin: 0; background-color: white; color: black; text-align: center;}
.fraction .top {border-bottom: 3px solid black;}
h2 {margin: 20px;}
.note {width: 75vw; margin: auto; padding: 5px; background-color: rgb(0, 165, 210); color: white; margin-top: 15px; margin-bottom: 5px; font-size: 24px; box-sizing: border-box;}
#calculator-container {width: var(--calculator-width); background-color: rgb(0, 165, 210); margin: auto; box-sizing: border-box; cursor: pointer;}
#calculator-container button {margin: 3px; padding: 5px; font-size: 36px; color: white; background-color: transparent; width: var(--calculator-button-width); cursor: pointer;}
#calculator-1 {width: var(--calculator-width); font-size: 36px; padding: 5px; background-color: teal; margin: auto; text-align: right; color: white; box-sizing: border-box; overflow: auto; cursor: default; min-height: 46px;}
#fractions-graphic {width: 20vw; height: 30px; background-color: lightgray; margin: auto;}
#fractions-graphic-amount {height: 30px; background-color: rgb(0, 165, 210);}
.checkbox {width: 30px; height: 30px; border: none; transition: 0.5s; cursor: pointer; font-size: 12px;}
code {background-color: lightgray; border: 1px solid gray; font-family: monospace; padding: 3px; font-size: 14px; border-radius: 3px; color: black;}
#overview-graphic {background-color: lightgray; color: rgb(0, 165, 210); padding: 3px; word-break: break-all; padding-bottom: 14px;}
#dark-mode-button {position: absolute; right: 10px; background-color: transparent; padding: 0;}
#font-button {position: absolute; right: 100px; background-color: transparent; padding: 0;}
#paint-toolbar {width: 100%; padding: 15px 5px; background-color: #404050; color: white;}
.modal-container {background-color: rgb(0, 0, 0, 0.6); position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; animation-name: fade-in; animation-duration: 0.5s;}
.modal {background-color: white; padding: 10px; width: 60vw; margin: auto; margin-top: 20vh; z-index: 2; position: relative; animation-name: slide-in; animation-duration: 0.5s;}
.close {float: right; font-size: 24px; color: gray; background-color: transparent;}
.close:hover {background-color: transparent; color: darkslategray;}
#drawing {width: 500px; height: 500px; border: 2px solid gray; margin: 15px auto; position: relative; background-color: white; perspective: 500px; overflow: hidden;}
#drawing * {box-sizing: border-box; cursor: pointer;}
#tab-paint {margin-top: 0; margin-left: 0;}

@keyframes zoom-in {
	from {transform: scale(0.5); opacity: 0;}
	to {transform: scale(1); opacity: 1;}
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes slide-in {
	from {transform: translateX(-40vw); opacity: 0;}
	to {transform: translateX(0vw); opacity: 1;}
}